//@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Nunito+Sans:300,300i,400,400i,600,700,700i,900');
@import url('https://use.typekit.net/lrq7oyu.css');
a {
    color: #000;
}

/* Navigation Styles */



body {
    font-family: 'noto-serif', serif;
    font-family: 'nunito-sans', sans-serif;
    font-family: 'vinyl', sans-serif;
    
    h1, h2, h3, h4, h5, h6 {
       font-family: 'nunito-sans', sans-serif;
    }
    
    p {
        font-family: 'noto-serif';
    }
    
    .hh_logo {
        display: inline;
        img {
            width: 220px;
            padding-top: 20px;
            @include media-breakpoint-down(md) {
                width: 125px;
            }
            @include media-breakpoint-down(sm) {
                width: 90px;
            }
        }
    }
    
    .tagline-wrapper {
        display: inline;
        position: absolute;
        left: 180px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40%;
        padding-top: 20px;
        @include media-breakpoint-down(md) {
            left: 150px;
            width: 45%;
        }
        @include media-breakpoint-down(sm) {
            left: 120px;
            width: 70%;
        }
        @include media-breakpoint-down(xs) {
            left: 110px;
            width: 70%;
        }
    }
    
    #wrapper-navbar {
        background: url('../img/haste-and-hustle-banner.jpg');
        background-size: cover;
        .container {
            position: relative;
        }
        
        .search-form-wrapper {
            background: #000;
            padding: 15px 0px;
            label {
                width: 100%;
                margin-bottom: 0px;
                input {
                    border: 1px solid #909090;
                    font-family: nunito-sans;
                    padding: 5px;
                    width: 100%;
                    border-radius: 4px;
                    &::placeholder {
                        font-family: nunito-sans;
                        color: #909090;
                    }
                }
            }
        }
    }
    
   .social-wrapper {
        display: inline;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
       
        i.fa {
           color: #FFF;
        }

        a {
            display: inline-block;
            padding: 15px;
            width: 45px;
            text-align: center;
            background-color: #000;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    .social-wrapper-nav {
        display: none;
       
        i.fa {
           color: #FFF;
        }

        a {
            display: inline-block;
            padding: 15px;
            width: 35px;
            text-align: center;
        }
        @include media-breakpoint-down(sm) {
            display: inline-block;
            margin-right: 15px;
        }
    }
    .home-wrapper {
        padding-top: 0px;
        .container {
            @include media-breakpoint-down(md) {
                max-width: none;
            }
        }
    }
    .widecolumn {
        max-width: 1140px !important;
        margin: 0px auto;
        padding: 50px 15px;
        @include media-breakpoint-down(md) {
            max-width: 960px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 720px;
        }
        @include media-breakpoint-down(xs) {
            max-width: 540px;
        }
    }
    &.page-template-default { 
        width: 100%;
        .entry-title {
            font-family: vinyl;
            font-size: 3rem;
            margin-bottom: 30px;
        }
    }
    
    #error-404-wrapper {
        padding: 50px 0px 60px;
    }
    
    #error-404-wrapper h1 {
        font-family: vinyl;
        text-transform: uppercase;
    }
    
    .vertical-text {
        transform: rotate(-90deg);
        transform-origin: center;
        float: left;
        @include media-breakpoint-down(md) {
            transform: none;
        }
    }
    
    .join-guest-list {
        a {
            background-color: #FFF700;
            padding: 1em 3em;
            font-family: vinyl;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        .be-first {
            font-size: 1.5rem;
            font-family: 'vinyl';
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
        
        #mce-EMAIL {
            display: block;
            margin-bottom: 20px;
            width: 250px;
            padding: .7em!important;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        
        a, #mc-embedded-subscribe {
            background-color: #FFF700;
            padding: .7em 3em;
            font-family: vinyl;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }
    
    .pagination {
       clear:both;
       position:relative;
       font-size:18px; /* Pagination text size */
       line-height:13px;
       float:left; /* Pagination float direction */
    }
    .pagination span, .pagination a {
       display:block;
       float:left;
       margin: 2px 2px 2px 0;
       padding:10px;
       text-decoration:none;
       width:auto;
       color:#fff; /* Pagination text color */
       background: #000; /* Pagination non-active background color */
       -webkit-transition: background .15s ease-in-out;
       -moz-transition: background .15s ease-in-out;
       -ms-transition: background .15s ease-in-out;
       -o-transition: background .15s ease-in-out;
       transition: background .15s ease-in-out;
    }
    .pagination a:hover{
       color:#fff;
       background: #fe0058; /* Pagination background on hover */
    }
    .pagination .current{
       padding:10px;
       background: #fe0058; /* Current page background */
       color:#fff;
    }
    
    .moretag {
        color: #ff0058 !important;
        text-decoration: underline;
    }
}
nav.navbar {
    padding: 0px 1rem;
    background-color: #000;
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler {
        margin: 10px 0px;
        @include media-breakpoint-down(sm) {
            margin: 10px 0px 10px 15px;
        }
    }
    
    .dropdown-menu {
        background-color: #DEDEDE;
        li {
            margin-right: 0px;
        }
        
        a {
            color: #000 !important;
        }
        @include media-breakpoint-down(md) {
            border: none;
        }
    }
    
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
    
    @include media-breakpoint-down(sm) {
        padding: 0px;
        .container {
            max-width: none;
        }
    }
}

.navbar-nav { 
    a {
        color: #FFF !important;
    }
    
    li {
        margin-right: 10px;
    }
    
    .nav-link {
        color: #040404;
        text-transform: uppercase;
        padding: 1rem;
        @include media-breakpoint-down(md) {
            color: #000 !important;
        } 
    }
    
    .first-social {
        margin-left: 65px;
    }
    @include media-breakpoint-down(md) {
        background-color: #DEDEDE;
    } 
}

.social-icon {
    background: #000;
    a {
        color: #FFF !important;
        padding: 1rem 1.5rem !important;
    }
}

/* Hero Section */
.avatar-rounded-circle {
    border-radius: 50%!important;
}

/* Hero Posts */

.hero-post-wrapper {
    position: relative;
    margin-bottom: 30px;
    .hero-post-column {
        padding: 0px;
    }
    .hero-post, .sec-hero-post {
        position: relative;
        padding: 0px 0px 0px 0px;
    }
    
    .row.post-info {
        margin: 0;
        background-color: rgba(0,0,0,.8);
        color: #FFF !important;
        width: 100%;
    }
    
    .hero-post {
        img {
            min-height: 350px;
            &.mobile-hero {
                width: 100%;
            }
        }
    }
    
    .hero-tagline {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0px auto !important;
        left: 50%;
        h1 {
            color: #FFF;
            font-size: 2em;
            width: 70%;
            font-family: vinyl;
            @include media-breakpoint-down(md) {
                width: 90%;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                font-size: 1.7em;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1.5em;
            }
        }
    }
    
    .author-info, .sec-author-info {
        background-color: #000;
        padding: 2rem 10px;
        a {
            color: #FFF;
            &:hover {
                color: #be1e2d;
                text-decoration: none;
            }
        }
        
        p {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
    }
    
    .sec-author-info {
        padding: 1rem 1.5rem;
    }
    
    .post-title, .sec-post-title {
        padding: 2rem 15px;
        max-width: 1140px;
        margin: 0px auto;
        h1 {
            font-size: 2rem;
            width: 66.66667%;
            font-weight: 800;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                font-size: 1.5rem;
                width: 100%;
            }
        }
        
        a {
            color: #FFF;
            &:hover {
                color: #be1e2d;
                text-decoration: none;
            }
        }
    }
    
    .sec-post-title {
        padding: 1.5rem;
        h1 {
        font-size: 1rem;
        }
    }    
    
    .hh_category, .sec_hh_category {
        max-width: 1140px;
        margin: 0px auto;
        h2 {
            margin-bottom: 0px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1rem;
            font-family: 'vinyl';
        }
    }
    
    .post-category {
        h2 {
            a {
                background-color: #EEE827;
                padding: 1rem;
                display: inline-block;
            }
        }
    }
    
    .avatar-rounded-circle {
        border-radius: 50%!important;
        display: block;
        margin: 0px auto;
    }
    
    .main-avatar {
        width: 60%;
    }
    
    .secondary-avatar {
        width: 100%;
    }
}

/* Main Post Feed */
.main-post-feed {
    .latest-news {
        position: relative;
        margin: 0px 15px 30px;
        img {
            @include media-breakpoint-down(md) {
                min-height: 48px;
            }
            @include media-breakpoint-down(sm) {
                height: 50px;
                width: 100%;
            }
        }
        h3 {
            position: absolute;
            top: 50%;
            color: #FFF !important;
            transform: translateY(-50%);
            font-weight: 300;
            text-transform: uppercase;
            padding: 0px 1rem;
            font-size: 1.5rem;
        }
    }
    
    .main-feed-row {
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            margin-bottom: 0px;
        }
    }
    
    .hh-post {
        margin-bottom: 30px;
    }
    
    .hh-contain {
        min-height: 250px;
        @include media-breakpoint-down(md) {
            min-height: 350px;
        }
        @include media-breakpoint-down(sm) {
            min-height: 400px;
        }
        @include media-breakpoint-down(xs) {
            min-height: 300px;
        }
    }
    
    .hh_category {
        position: absolute;
        top: 0;
        background-color: #EEE827;
        padding: 1rem;
        h2 {
            margin-bottom: 0px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1rem;
            font-family: 'vinyl';
        }
    }
    
    .post-info {
        padding: 0px;
        border-top: 10px solid #000;
    }
    
    hr {
        border-top: 1px solid #1A1A1A;
    }
    
    .feed-post-title {
        padding: 1rem 0 0;
        h1 {
            font-size: 1rem;
        }
        
        a {
            color: #000;
            font-weight: 700;
            &:hover {
                color: #be1e2d;
                text-decoration: none;
            }
        }
    }
    
    .feed-author-info {
        padding: .5rem 10px;
        a {
            color: #000;
            &:hover {
                color: #be1e2d;
                text-decoration: none;
            }
        }
        
        p {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0px;
            font-size: .7rem;
            font-family: nunito-sans,sans-serif;
        }
    }
    
    img.avatar {
        border-radius: 50%!important;
        display: block;
        margin: 0px auto;
    }
}

/* Sidebar Styles */
.sidebar-feed {
    .trending {
        position: relative;
        margin: 0px 0px 30px;
        img {
            @include media-breakpoint-down(sm) {
                height: auto;
                width: 100%;
            }
        }
        .trending-title {
            position: relative;
            margin-bottom: 30px;
        }
        h3 {
            position: absolute;
            top: 50%;
            color: #FFF !important;
            transform: translateY(-50%);
            font-weight: 300;
            text-transform: uppercase;
            padding: 0px 1rem;
            font-size: 1.5rem;
        }
    }
    
    img.avatar {
        border-radius: 50%!important;
        display: block;
        margin: 0px auto;
    }
}

/* Footer Styles */
#wrapper-footer {
    background-color: #000;
    padding: 60px 0px 50px;
    .social-media-footer {
        text-align: center;
        margin: 50px 0px 30px;
        i {
            color: #FFF;
            padding: 0px 15px;
        }
    }
    
    .navbar-toggler {
        margin: 0px auto;
    }
    
    .footer-menu {
        text-align: center;
        margin-bottom: 15px;
        ul {
            padding-left: 0px !important;
            margin: 0px auto;
            li {
                display: inline-block;   
                a {
                    color: #FFF;
                    text-transform: uppercase;
                    padding: 0px 10px;
                    font-size: .9rem;
                }
            }

            .social-icon {
                display: none;
            }
        }
    }
    
    .sec-footer-menu {
        text-align: center;
        ul {
            padding-left: 0px !important;
            li {
                display: inline-block;
                &:nth-child(2) {
                    border-right: 1px solid #717171;
                    border-left: 1px solid #717171;
                }

                a {
                    color: #717171;
                    padding: 0px 15px;
                    font-size: 14px;
                    display: block;
                }
            }

            .social-icon {
                display: none;
            }
        }
    }
}

#single-wrapper {
    padding: 0px;
    p, ol, ul {
        color: #5A5A5A;
        font-family: noto-serif,serif;
        @include media-breakpoint-down(xs) {
            font-size: .95rem;
        }
    }
    
    .single-hero-image {
        min-height: 600px;
    }
    
    .wp-post-image {
        width: 100%;
    }
    
    .single-post-content {
        position: relative;
        top: -150px;
        background-color: #FFF;
        padding-top: 60px;
        .aligncenter {
            display: block;
        }
        
        iframe {
            margin: 0px auto;
            display: block;
        }
        
        header {
            border-width: 0px 0 0px 10px;
            border-style: solid;
            -webkit-border-image: 
              -webkit-gradient(linear, 0 0, 0 100%, from(#27438B), to(#BE1E2D)) 1 100%;
            -webkit-border-image: 
              -webkit-linear-gradient(#27438B, #BE1E2D) 1 100%;
            -moz-border-image:
              -moz-linear-gradient(#27438B, #BE1E2D) 1 100%;    
            -o-border-image:
              -o-linear-gradient(#27438B, #BE1E2D) 1 100%;
            border-image:
              linear-gradient(to bottom, #27438B, #BE1E2D) 1 100%;
            padding-left: 20px;
        }
        
        .single-meta {
            margin: 35px 0px 50px;
            .row {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
        
        .single-cat-name {
            font-family: 'vinyl';
            text-transform: uppercase;
            font-size: 1.5rem;
            @include media-breakpoint-down(xs) {
                font-size: 1.3rem;
            }
        }
        
        .entry-title {
            font-weight: 700;
            line-height: 1;
            margin: 20px 0px 25px;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1.5rem;
            }
        }
        
        .single-subtitle {
            font-size: 1.2rem;
            font-weight: 300;
            @include media-breakpoint-down(md) {
                font-size: 1rem;
            }
            @include media-breakpoint-down(xs) {
                font-size: .9rem;
            }
        }
        
        .author-info {
            position: relative;
            font-family: 'vinyl' !important;
            border-top: 8px solid #171717;
            border-bottom: 8px solid #171717;
            padding: 10px 0px;
            img {
                max-height: 100px;
                float: left;
                margin-right: 20px;
            }
            .author-details {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                p {
                    margin-bottom: 0px;
                }
                
                .author_name {
                    text-transform: uppercase;
                    a {
                        color: #7b7b7b;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: .9rem;
                    }
                }
                
                .author_bio {
                    color: #7B7B7B;
                    font-size: 14px;
                    a {
                        text-decoration: underline;
                        color: #7B7B7B;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: .8rem;
                    }
                }
            }
        }
        
        .posted-date {
            border-top: 8px solid #171717;
            border-bottom: 8px solid #171717;
            p {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: right;
                text-transform: uppercase;
                font-size: 14px;
                @include media-breakpoint-down(md) {
                    font-size: .8rem;
                }
                @include media-breakpoint-down(sm) {
                    text-align: left;
                    font-size: 1rem;
                }
            }
            @include media-breakpoint-down(sm) {
                border-top: none;
            }
        }
        
        .share-btn {
            background-color: #EEE827;
            p {
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-transform: uppercase;
                a {
                    padding: 2rem 0px;
                    display: block;
                }
            }
        }
        
        .first-content, .second-content {
            padding-bottom: 20px;
        }
        
        .blockquote-column {
                padding-bottom: 20px;
            .block-quote {
                border-top: 10px solid #000;
                padding: 20px 0px;
                position: relative;
                top: 6px;
                
                p {
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #000;
                    @include media-breakpoint-down(xs) {
                        font-size: 1rem;
                    }
                }
                @include media-breakpoint-down(xs) {
                    top: 0px;
                    margin: 0px 10%;
                }
            }
            
            .quote-content {
                padding-left: 40px;
                @include media-breakpoint-down(md) {
                    padding-left: 15px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 0px 30px;
                }
            }
        }
        
        .imgblock-column {
            padding-bottom: 20px;
            .imgblock-content {
                padding-right: 40px;
                @include media-breakpoint-down(md) {
                    padding-right: 0px;
                    padding-bottom: 20px;
                }
            }
            
            .image-section {
                p {
                    font-size: .8rem;
                    font-style: italic;
                    color: #000;
                    padding-top: 20px;
                }
            }
        }
        
        .speaker-profile {
            img {
                border-radius: 50%;
                @include media-breakpoint-down(sm) {
                    max-width: 60%;
                    display: block;
                    margin: 50px auto 0px;
                }
            }
        }
        
        .speaker-titles {
            @include media-breakpoint-down(md) {
                padding-right: 20px;
            }
            .entry-title {
                margin-bottom: 15px;
            }
            
            .speaker-position {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 20px;
                @include media-breakpoint-down(md) {
                    font-size: 1rem;
                }
                @include media-breakpoint-down(xs) {
                    font-size: .9rem;
                }
            }
            
            .social-media-wrapper {
                margin-bottom: 20px;
                .social-media-link {
                    color: #000 !important;
                    font-size: 12px;
                    font-family: nunito-sans !important;
                    margin-bottom: 5px;
                    span {
                        color: #BE1E2D;
                        font-weight: 600;
                    }
                }
            }
            
            .personal-info-wrapper {
                .personal-info-item {
                    color: #000 !important;
                    font-size: 18px;
                    font-family: nunito-sans !important;
                    margin-bottom: 5px;
                    font-weight: 600;
                    span {
                        font-weight: 100;
                    }
                }
            }
        }
        
        .speaker-separator {
            border-top: 20px solid #000;
            margin: 40px 0px 50px;
        }
        
        .speaker-fav-column {
            .fav-quote {
                color: #B32033;
                font-family: 'vinyl';
                font-size: 2em;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .block-quote {
                p {
                   font-family: nunito-sans;
                    font-size: 1em;
                }
            }
        }
        
    }
    
    .single-callout {
        position: relative;
        top: -100px;
        padding: 7rem 0;
        
        &:before {
            content: "";
            background-color: rgba(0,0,0,.65);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        
        p {
            color: #FFF;
            font-family: 'nunito-sans';
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 3rem;
            margin: 0;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            @include media-breakpoint-down(xs) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
    }
    
    .comments-area {
        margin: 50px 0px 75px;
    }
    
    .post-info {
        padding: 0px;
    }
    
    .entry-footer {
        margin-bottom: 100px;
        .post-info {
            padding: 0px 15px;
        }
        
        .wp-post-image {
            width: 100%;
            height: 280px;
            border-bottom: 10px solid #000;
        }
    
        hr {
            border-top: 1px solid #1A1A1A;
        }

        .feed-post-title {
            padding: 1rem 0 0;
            h1 {
                font-size: 1rem;
            }

            a {
                color: #000;
                font-weight: 700;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }
        }

        .feed-author-info {
            padding: .5rem 10px;
            a {
                color: #000;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }

            p {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0px;
                font-size: .7rem;
                font-family: 'nunito-sans';
            }
            
            .recent_posted_date p{
                text-align: right;
                width: 100%;
            }
        }
        
        .single-ad {
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
        
        .latest-title {
            padding: 20px;
            margin: 30px 0px;
            h3 {
                color: #FFF;
                text-transform: uppercase;
                font-family: 'vinyl';
                margin-bottom: 0px;
            }
        }
        
        .latest-post {
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
    }
     
    .third-content {
        padding-bottom: 50px;
    }
    
    #disqus_thread {
        margin-bottom: 50px;
    }
}

#author-wrapper {
    padding-top: 70px;
    .saboxplugin-wrap {
        margin-bottom: 30px;
        .saboxplugin-authorname a {
            font-family: nunito-sans,sans-serif;
            text-transform: uppercase;
        }
        
        .saboxplugin-desc {
            p {
                font-family: nunito-sans,sans-serif;
                font-weight: 100;
            }
        }
        
        .saboxplugin-socials {
            padding: 0px;
            .saboxplugin-icon-grey {
                margin: 0px;
                padding: 10px 10px;
                height: 100%;
                border-right: 1px solid #FFF;
            }
        }
    }
    
    .about_author {
        h1 {
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
    }
    
    .author-post-main {
        .author-post-row {
            margin-bottom: 30px;
        }
        .authors-posts, .authors-top-posts-title {
            background-color: #000;
            padding: 10px 20px;
            margin: 30px 0px;
            h3 {
                color: #FFF;
                text-transform: uppercase;
                font-family: nunito-sans,sans-serif;
                margin-bottom: 0px;
                font-size: 1.5rem;
            }
        }
        
        .authors-top-posts-title {
            background: linear-gradient(140deg,#be1e2d 30%,#27438b);
            margin: 30px 0px 30px;
        }
        
        .hh-contain {
            min-height: 250px;
        }

        .hh_category {
            position: absolute;
            top: 0;
            background-color: #EEE827;
            padding: 1rem;
            h2 {
                margin-bottom: 0px;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1rem;
                font-family: 'vinyl';
            }
        }

        .post-info {
            padding: 0px;
        }

        hr {
            border-top: 1px solid #1A1A1A;
        }

        .feed-post-title {
            padding: 1rem 0 0;
            h1 {
                font-size: 1rem;
            }

            a {
                color: #000;
                font-weight: 700;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }
        }

        .feed-author-info {
            padding: .5rem 10px;
            a {
                color: #000;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }

            p {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0px;
                font-size: .7rem;
                font-family: nunito-sans,sans-serif;
            }
        }
    }
}

#archive-wrapper, #search-wrapper {
    .archive-post-main, .search-post-main {
        .archive-post-row, .search-post-main {
            margin-bottom: 30px;
        }
        
        h1 {
            text-transform: uppercase;
            font-weight: 800;
            border-bottom: 2px solid #000;
            font-family: vinyl;
        }
        
        .taxonomy-description {
            width: 85%;
            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        
        .page-header {
            margin-bottom: 50px;
        }
        
        .hh-contain {
            min-height: 250px;
        }

        .hh_category {
            position: absolute;
            top: 0;
            background-color: #EEE827;
            padding: 1rem;
            h2 {
                margin-bottom: 0px;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1rem;
                font-family: 'vinyl';
            }
        }

        .post-info {
            padding: 0px;
        }

        hr {
            border-top: 1px solid #1A1A1A;
        }

        .feed-post-title {
            padding: 1rem 0 0;
            h3 {
                font-size: 1rem;
            }

            a {
                color: #000;
                font-weight: 700;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }
        }

        .feed-author-info {
            padding: .5rem 10px;
            a {
                color: #000;
                &:hover {
                    color: #be1e2d;
                    text-decoration: none;
                }
            }

            p {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0px;
                font-size: .7rem;
                font-family: nunito-sans,sans-serif;
            }
        }
    }
}

#tribe-events {
    margin-top: 50px;
    #tribe-bar-form {
        .tribe-bar-submit {
            input[type=submit] {
                background: linear-gradient(140deg,#be1e2d 30%,#27438b);
                background-image: transparent;
            }
        }
    }
    
    .tribe-events-calendar {
        th {
            background-color: #000;
            color: #FFF;
        }
        
        div[id*=tribe-events-daynum-], div[id*=tribe-events-daynum-] a {
            background-color: #000;
            color: #FFF;
        }
        
        .tribe-events-othermonth .tribe-events-month-event-title, .tribe-events-othermonth div[id*=tribe-events-daynum-] {
            opacity: 0.1;
        }
        
        .tribe-events-present div[id*=tribe-events-daynum-] {
            background: linear-gradient(140deg,#be1e2d 30%,#27438b) !important;
        }
    }
    
    .event-submission-title {
        margin-top: 30px;
        padding: 30px;
        .tribe-events-page-title {
            font-family: vinyl;
            font-size: 2.5rem;
            font-weight: 800;
            text-transform: uppercase;
            color: #FFF;
        }
        p {
            text-align: center;
            color: #FFF;
        }
        a {
            border-radius: 0px;
            padding: .5rem 3rem;
            margin-top: 10px;
            background-color: #000;
            border: 0px;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.about-wrapper {
    padding: 0px;
    .about-title {
        text-transform: uppercase;
        font-size: 4rem;
        font-family: vinyl;
        @include media-breakpoint-down(md) {
            font-size: 2rem;
            line-height: 2rem;
        }
    }
    .vertical-text {
        transform: rotate(-90deg);
        transform-origin: center;
        float: left;
        @include media-breakpoint-down(md) {
            transform: none;
        }
    }
    .about-hero-wrapper {
        .hero-title {
            h1 {
                color: #FFF;
                text-transform: uppercase;
                font-size: 3rem;
                padding: 50px 0px;
                font-family: vinyl;
                @include media-breakpoint-down(sm) {
                    font-size: 2rem;
                }
            }
        }
    }
    
    .about-info-wrapper {
        .mission-statement {
            padding: 100px 0px;
            p {
                padding: 1rem 0px;
                font-size: 2.5rem;
                font-weight: 800;
                width: 100%;
                font-family: nunito-sans;
                letter-spacing: 1px;
                line-height: 2.5rem;
                @include media-breakpoint-down(md) {
                    font-size: 2rem;
                    line-height: 2rem;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }
    }
    
    .about-values-wrapper {
        background-color: #FF004E;
        .core-values {
            padding: 80px 0px;
            h2 {
                color: #FFF;
                font-family: vinyl;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 35px;
                }
            }
            p {
                padding: 0 0 2rem;
                font-size: 1.5rem;
                font-family: nunito-sans;
                letter-spacing: 1px;
                line-height: 1.5rem;
                color: #FFF;
                font-weight: 600;
                &:last-child {
                    padding: 0px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 1.2rem;
                    line-height: 1rem;
                    padding: 0 0 1rem;
                }
            }
        }
        .value-points {
            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 15px;
            }
        }
    }
    
    .welcome-letter-wrapper {
        padding: 80px 0px 50px;
        @include media-breakpoint-down(sm) {
            padding: 80px 15px;
        }
        .block-quote-section {
            padding: 20px 0px;
        }
        .welcome-letter {     
            h3 {
                font-family: vinyl;
                font-size: 1.2rem;
                color: #5A5A5A;
                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            } 
            
            .lead-statement {
                font-family: nunito-sans;
                font-size: 1.5rem;
                color: #5a5a5a;
                line-height: 2rem;
                @include media-breakpoint-down(sm) {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }
            }
            
            p {
                color: #5A5A5A;
            }
            
            .block-quote {
                border-top: 10px solid #000;
                padding: 20px 0px;
                position: relative;
                top: 6px;

                p {
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #000;
                    @include media-breakpoint-down(xs) {
                        font-size: 1rem;
                    }
                }
                @include media-breakpoint-down(xs) {
                    top: 0px;
                    margin: 0px 10%;
                }
            }
            
            .beside-quote {
                padding-left: 40px;
                @include media-breakpoint-down(md) {
                    padding-left: 15px
                }
            }
            .quote-content {
                padding-left: 40px;
                @include media-breakpoint-down(md) {
                    padding-left: 15px;
                }
            }
        }
    }
    
    .about-footer-wrapper {
        .about-footer {
            padding: 10em 0px;
            p {
                color: #FFF;
                font-family: vinyl;
                font-size: 3rem;
                line-height: 3.5rem;
                margin: 0px 0px 50px;
                @include media-breakpoint-down(sm) {
                    font-size: 2rem;
                    line-height: 2.5rem;
                    margin: 8rem 0px;
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 8em 0px;
            }
        }
    }
}

.contribute-wrapper {
    .contribute-info {
        header {
            margin-bottom: 50px;
            h1 {
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 20px;
                border-bottom: 2px solid #000;
                font-family: vinyl;
            }
        }
        
        .modal {
            @include media-breakpoint-only(xs) {
                padding-right: 0px !important;
            }
        }
        .modal-header {
            .close {
                font-family: nunito-sans;
                padding: 1.5rem 1rem;
            }
            .modal-title {
                font-family: vinyl;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        
        .modal-body {
            padding: 1rem 0px 1rem 1rem;
            @media (max-width: 641px) {
                padding: 1rem;
            }
        }
        
        .contribute-events, .contribute-authors, .contribute-article {
            margin-bottom: 50px;
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-family: vinyl;
                font-size: 1.5rem;
            }
            
            p {
                margin-bottom: 25px;
            }
            
            .contribute-btn {
                font-family: nunito-sans;
                text-transform: uppercase;
                padding: .8rem 1rem;
                font-size: .9rem;
            }
            
            .gform_wrapper {
                label.gfield_label {
                    font-weight: 500;
                    font-size: inherit;
                    font-family: nunito-sans;
                    display: block;
                    .gfield_required {
                        display: none;
                    }
                }
                
                input, textarea {
                    border: 1px solid #909090;
                    font-family: nunito-sans;
                    padding: 10px;
                    &::placeholder {
                        font-family: nunito-sans;
                        color: #909090;
                    }
                }
                
                .field_sublabel_below {
                    font-family: nunito-sans;
                    .ginput_full, .ginput_left, .ginput_right, .ginput_container_name {
                        input {
                            margin-bottom: 15px;
                        }
                        label {
                            display: none;
                            
                        }
                    }
                }
                
                .upload_photo {
                    text-align: right;
                    label {
                        display: inline-block !important;
                        margin-right: 30px;
                    }
                    
                    .ginput_container_fileupload, .ginput_container_post_image {
                        display: inline;
                        position: relative;
                        right: 0;
                    }
                }
                .gform_footer {
                    .gform_button {
                        display: block !important;
                        width: 98.5% !important;
                        margin: 0px !important;
                        background-color: #EEE827;
                        border: none !important;
                        padding: 1rem 0px !important;
                    }
                }
            }
        }
    }
}

.contact-wrapper {
    padding: 0px 0px 50px;
    .contact-hero-wrapper {
        margin-bottom: 50px;
        .hero-title {
            h1 {
                color: #FFF;
                text-transform: uppercase;
                font-size: 3rem;
                padding: 50px 0px;
                font-family: vinyl;
                @include media-breakpoint-down(md) {
                    font-size: 3rem;
                    padding: 50px 0px 10px;
                }
            }
        }
        
        p {
            color: #FFF;
            font-size: .9rem;
            @include media-breakpoint-down(md) {
                padding-bottom: 10px;
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(sm) {
                padding-bottom: 30px;
                margin-bottom: 0px;
            }
        }
        
        .contribute-btn {
            letter-spacing: 1px;
            font-size: 1.5rem;
            @include media-breakpoint-down(md) {
                margin-bottom: 50px;
            }
        }
    }
    
    .contact-info-wrapper {
        .contact-info {
            h2 {    
                font-weight: 600;
            }
            .gform_wrapper {
                label.gfield_label {
                    font-weight: 500;
                    font-size: inherit;
                    font-family: nunito-sans;
                    display: none !important;
                    .gfield_required {
                        display: none;
                    }
                }
                
                input, textarea {
                    border: 1px solid #909090;
                    font-family: nunito-sans;
                    padding: 10px !important;
                    &::placeholder {
                        font-family: nunito-sans;
                        color: #909090;
                    }
                }
                
                .ginput_container_email, .ginput_container_phone {
                    margin-top: 0px !important;
                }
                .field_sublabel_below {
                    font-family: nunito-sans;
                    .ginput_full, .ginput_left, .ginput_right, .ginput_container_name {
                        input {
                            margin-bottom: 15px;
                        }
                        label {
                            display: none;
                            
                        }
                    }
                }
                
                .upload_photo {
                    text-align: right;
                    label {
                        display: inline-block !important;
                        margin-right: 30px;
                    }
                    
                    .ginput_container_fileupload, .ginput_container_post_image {
                        display: inline;
                        position: relative;
                        right: 0;
                    }
                }
                .gform_footer {
                    .gform_button {
                        display: block !important;
                        width: 98.5% !important;
                        margin: 0px !important;
                        background-color: #EEE827;
                        border: none !important;
                        padding: 1rem 0px !important;
                    }
                }
            }
        }
    }
}

#tribe-events-pg-template, .tribe-events-pg-template {
    #tribe-events {
        margin-top: 20px;
        h3.tribe-events-month-event-title {
            font-family: nunito-sans;
            font-size: 100%;
        }
        
        #tribe-events-content {
            width: initial;
        }

        .tribe-events-tooltip {
            width: 350px;
            .entry-title {
                font-family: vinyl;
                padding: 5px 6px 0px;
            }

            .tribe-event-duration {
                font-size: .8rem;
                font-family: nunito-sans;
            }
        }
    }
}
.single-tribe_events {
    #tribe-events-pg-template, .tribe-events-pg-template {
        max-width: 1140px;
        @include media-breakpoint-down(md) {
            max-width: 960px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 720px;
            padding: 0px 15px;
        }
        @include media-breakpoint-down(xs) {
            max-width: 540px;
        }
        #tribe-events {
            margin-top: 20px;
            h3.tribe-events-month-event-title {
                font-family: nunito-sans;
                font-size: 100%;
            }
            
            #tribe-events-content {
                width: initial;
            }
            
            .tribe-events-tooltip {
                .entry-title {
                    font-family: vinyl;
                    padding: 5px 6px 0px;
                }
                
                .tribe-event-duration {
                    font-size: .8rem;
                    font-family: nunito-sans;
                }
            }
            
            .tribe-events-single {
                .tribe-events-back {
                    a {
                        font-family: vinyl;
                        background-color: #EEE827;
                        border: 1px solid #000;
                        padding: 10px 20px;
                    }
                }

                .tribe-events-single-event-title {
                    margin: 0;
                    padding: 0;
                    font-family: vinyl;
                    font-size: 3rem;
                    text-transform: uppercase;
                }

                .tribe-events-schedule {
                    margin: 0px 0 0;
                    h2 {
                        font-size: 1.2em;
                        font-weight: 100;
                        font-family: nunito-sans;
                    }
                }

                .tribe-events-meta-group {
                    .tribe-events-single-section-title {
                        font-size: 2rem;
                        font-family: vinyl;
                        font-weight: 700;
                        margin: 20px 0 10px;
                        text-transform: uppercase;
                    }

                    dt {
                        font-weight: 800;
                        font-family: nunito-sans !important;
                        font-size: 1rem;
                    }

                    dd {
                        line-height: 1.5;
                        margin: 0 0 10px;
                        padding: 0;
                        font-family: nunito-sans;
                        font-size: 1rem;
                    }
                }

                .tribe-events-content {
                    h3 {
                        font-size: 1.8rem;
                        font-family: vinyl;
                        line-height: 1.8;
                        font-weight: 100;
                        margin: 20px 0px 10px;
                    }
                }
            }
        }
    }
}

.sidebar-feed {
    .hh_advertise {
        &.desktop-ad {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .home-popular-sidebar, .author-popular-sidebar {

        .hh-post {
            position: relative;
            margin-bottom: 30px;
            .hh-contain {
                min-height: 250px;
                @include media-breakpoint-down(sm) {
                    min-height: 400px;
                }
                @include media-breakpoint-down(xs) {
                    min-height: 300px;
                }
            }

            .hh_category {
                position: absolute;
                top: 0;
                background-color: #fe0058 !important;
                padding: 1rem;
                h2 {
                    margin-bottom: 0px;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-family: 'vinyl';
                }
            }

            .post-info {
                padding: 0px;
                border-top: 10px solid #000;
            }

            hr {
                border-top: 1px solid #1A1A1A;
            }

            .feed-post-title {
                padding: 1rem 0 0;
                h1 {
                    font-size: 1rem;
                }

                a {
                    color: #000;
                    font-weight: 700;
                    &:hover {
                        color: #be1e2d;
                        text-decoration: none;
                    }
                }
            }

            .feed-author-info {
                padding: .5rem 10px;
                a {
                    color: #000;
                    &:hover {
                        color: #be1e2d;
                        text-decoration: none;
                    }
                }

                p {
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                    font-size: .7rem;
                    font-family: nunito-sans,sans-serif;
                }
            }
        }
    }
}

.conference-hero-wrapper {
    //padding: 10em;
    position: relative;
    .hero-right-side {
        background-color: #EE1C5D;
        padding: 10em 15px;
    }
    
    .hero-left-side {
        padding: 10em 15px;
        @include media-breakpoint-only(md) {
            background-color: rgba(255,255,255,.7);
        }

    }
    
    .hero-row {
        position: relative;
    }
    .microphone-burst {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    .conference-title {
        h1 {
            font-family: vinyl;
            font-size: 4.5em;
            text-transform: uppercase;
            line-height: 1em;
            margin-bottom: 0px;
        }
        @include media-breakpoint-down(sm) {
            text-align: center;
            width: 100%;
        }
    }
    .conference-info {
        h2 {
            font-family: vinyl;
            font-size: 3em;
            text-transform: uppercase;
            line-height: 1em;
            color: #FFF;
            margin-bottom: 30px;
            span {
                color: #9D0036;
                font-size: .8em;
                &.price {
                    color: #FFF;
                    font-size: .8em;
                }
            }
        }
        
        .buy-tickets-btn {
            background-color: #FFF700;
            padding: .7em 3em;
            font-family: vinyl;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            display: inline-block;
            margin-bottom: 30px;
            @include media-breakpoint-down(sm) {
                text-align: center;
                margin: 0px auto 30px !important;
                display: block;
            }
        }
        
        .get-tickets-title {
            font-size: 1.5rem;
            font-family: 'vinyl';
            text-transform: uppercase;
            margin-bottom: 20px;
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
        
        .ticket-disclaimer {
            width: 50%;
            font-size: 12px;
            background-color: rgba(255,255,255,.7);
            padding: 1em 15px;
            @include media-breakpoint-down(md) {
                background-color: transparent;
                width: 65%;
            }
            @include media-breakpoint-down(sm) {
                text-align: center;
                margin: 0px auto;
                background-color: transparent;
                width: 75%;
            }
        }
    }
}

.conference-info-wrapper {
    background-color: #272727;
    
    .current-conference {
        background: rgba(229,248,250,1);
        background: -webkit-linear-gradient(#5BBCC6,#fa3776);
        background: -moz-linear-gradient(#5BBCC6,#fa3776);
        background: linear-gradient(#5BBCC6,#fa3776);
        background: -ms-linear-gradient(#5BBCC6,#fa3776);
        background: -o-linear-gradient(#5BBCC6,#fa3776);
        padding: 1em 0px 5em;
    }
    
    iframe {
        @include media-breakpoint-down(sm) {
            height: 350px;
        }
    }
    
    .conference-info {
        padding-top: 50px;
    }
    
    .conf-info-title {
        color: #FFF;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: vinyl;
        padding-bottom: 4em;
        @include media-breakpoint-down(md) {
            padding-bottom: .5em;
        }
        @include media-breakpoint-down(sm) {
            font-size: 3em;
        }
    }
    
    .bold-statement {
        color: #FFF;
        font-family: 'vinyl';
        font-size: 2em;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.7em;
        padding-bottom: 1em;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
            font-size: 1.5em;
            line-height: 1em;
        }
    }
    
    p {
        color: #E6E6E6;
    }
}

.past-conference-wrapper {
    background-color: #FFF;
}

.conference-speakers {
    .past-speakers-dropdown, .past-sponsor-dropdown {
        width: 100%;
        padding: 50px 0px;
        background-color: #272727;
        .speaker-title {
            @include media-breakpoint-down(md) {
                padding-bottom: 0px;
            }
        }
        &:hover {
            color:#FFF;
            text-decoration: none;
        }
    }
    .speaker-title {
        color: #FFF;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: vinyl;
        @include media-breakpoint-down(md) {
            padding-bottom: .5em;
        }
        @include media-breakpoint-down(sm) {
            font-size: 3em;
        }
    }
    
    .main-speaker-img {
        img {
            border-radius: 50%;
            width: 80%;
            @include media-breakpoint-down(sm) {
                width: 70%;
                margin: 0px auto 50px;
                display: block;
            }
        }
    }
    
    .speaker-name {
        font-size: 3em;
        color: #FFF;
        font-family: vinyl;
        text-transform: uppercase;
        margin-bottom: 0px;
        @include media-breakpoint-down(sm) {
            font-size: 2.5em;
        }
    }
    
    .speaker-company-title {
        color: #FFF700;
        font-family: vinyl;
        font-size: 1.8em;
        margin-bottom: 25px;
        @include media-breakpoint-down(sm) {
            font-size: 1.3em;
        }
    }
    
    .other-speakers {
        margin-top: 60px;
        .other-speaker-info {
            
            .bio-read-link {
                background-color: #FFF700;
                display: none;
                @include media-breakpoint-down(md) {
                    display: block;
                }
            }
            
            img {
                border-radius: 50%;
                @include media-breakpoint-down(xs) {
                    width: 50%;
                    display: block;
                    margin: 0px auto;
                }
            }
            
            .other-speaker-name {
                font-size: 1.1em;
                color: #272727;
                font-family: vinyl;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: center;
                padding-top: 30px;
            }
            
            .other-company-title {
                color: #FFF700;
                font-family: vinyl;
                font-size: 1em;
                text-align: center;
            }
            @include media-breakpoint-down(xs) {
                margin-bottom: 50px;
            }
        }
    }
    
    .past-speakers {
        .speaker-title {
            position: absolute;
            @include media-breakpoint-down(md) {
                position: relative;
            }
        }
    }
    .join-guest-list {
        padding: 3em;
    }
}
.current-sponsors img{
	
	
}
.sponsor-wrapper {
    padding: 2em 15px 3em;
    .current-sponsors, .main-speakers {
        img {
            width: 100%;
            padding: 0 20px;
            @include media-breakpoint-down(sm) {
                max-width: 60%;
                margin: 40px auto;
                display: block;
            }
            @include media-breakpoint-down(xs) {
                max-width: 70%;
                margin: 40px auto;
                
            }
        }
        
        .nowcreative-size {
            width: 55%;
            display: block;
            margin: 0px auto;
        }
        
        .wiiw-size {
            width: 75%;
            display: block;
            margin: 0px auto;
        }
    }
    
    div[class*='current-sponsors-']:not(.main-sponsors) {
        margin-bottom: 60px;
    }
}

.sponsor-volunteer-wrapper {
    h3 {
        color: #FFF;
        font-size: 3em;
        font-family: vinyl;
        text-transform: uppercase;
    }
    
    p {
        padding: 10px 0px 20px;
        &.small-text {
            font-size: 12px;
        }
    }
    
    .sponsor-column {
        background-color: #FF0058;
        padding: 5em 15px;
    }
    
    .volunteer-column {
        background-color: #9D0036;
        padding: 5em 15px;
        p {
            color: #FFF;
        }
    }
    
    .join-guest-list {
        padding: 1em 0px;
    }
}



.our-team-wrapper {
    background-color: #272727;
    .our-team {
        .our-team-title {
            color: #FFF;
            text-transform: uppercase;
            font-size: 4rem;
            font-family: vinyl;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
        
        .our-team-members {
            padding: 80px;
            .team-section-title {
                h3 {
                    text-align: center;
                    font-size: 2em;
                    color: #FFF;
                    font-weight: 600;
                    padding-bottom: 50px;
                }
            }
            .team-member {
                text-align: center;
                img {
                    border-radius: 50%;
                    max-width: 125px;
                }
                
                h4 {
                    font-size: 1.1em;
                    color: #fff;
                    font-family: vinyl;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-align: center;
                    padding-top: 30px;
                }
            }
            
            .advisory-board {
                margin-bottom: 50px;
            }
            
            .management {
                margin-bottom: 30px;
            }
        }
    }
}

.sponsorship-wrapper {
    position: relative;
    .sponsorship-hero-wrapper {
        .hero-right-side {
            background-color: #ea215e;
            padding: 5em 15px;
            .sponsor-form {
                input {
                    font-family: 'vinyl';
                    padding: 1em .7em !important;
                    &::placeholder {
                        font-family: 'vinyl';
                        text-transform: uppercase;
                        font-size: 12px !important;
                        font-weight: 100;
                        padding: 1em .7em !important;
                    }
                }
                .gform_wrapper {
                    ul.gform_fields {
                        li.gfield {
                            margin-top: 0px;
                        }
                    }
                    li#field_5_1.hidden_label {
                        input {
                            &:first-child {
                                margin-top: 0px;
                            }
                        }
                    }
                    .gform_footer {
                        margin-top: 0px;
                        .gform_button {
                            background-color: #faed21;
                            color: #000;
                            border: none;
                            text-transform: uppercase;
                            padding: .9em 3em !important;
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 3em 15px 1em
            }
        }
        
        .hero-left-side {
            padding: 5em 15px;
            .sponsorship-title {
                h1 {
                    font-family: vinyl;
                    font-size: 4em;
                    text-transform: uppercase;
                    line-height: 1em;
                    @include media-breakpoint-down(sm) {
                        font-size: 3em;
                    }
                }
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        .hero-row {
            position: relative;
        }
        .microphone-burst {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 30%;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}

.sponsorship-info-wrapper {
    padding: 7em 0 1em;
    .sponsorship-info {
        margin-bottom: 50px;
        .roles-titles, .geographic-reach, .social-media-reach {
            @include media-breakpoint-down(md) {
                margin-bottom: 30px;
            }
        }
        h2 {
            font-family: vinyl;
            font-size: 3em;
            text-transform: uppercase;
            line-height: 1em;
            color: #FFF;
            margin-bottom: 30px;
            span {
                color: #9D0036;
                font-size: .8em;
                &.price {
                    color: #FFF;
                    font-size: .8em;
                }
            }
        }

        h4 {
            font-family: 'vinyl';
            font-size: 2.5em;
            text-transform: uppercase;
            line-height: 1em;
            margin-bottom: 30px;
            color: #FFF;
            @include media-breakpoint-down(sm) {
                font-size: 2em;
            }
        }
        
        ul {
            padding-left: 0px !important;
            li {
                color: #e6e6e6;
                font-family: noto-serif;
                list-style-type: none;
            }
        }
        
        .sponsorship-details {
            p {
                font-size: 18px;
                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }
        .roles-titles {
            li {
                margin-bottom: 5px;
            }
        }
        
        li.stat-item {
            font-size: 1em;
            color: #e6e6e6;
            span {
                color: #ede527;
                font-size: 2em;
                font-family: 'vinyl';
                vertical-align: middle;
                width: 60px;
                display: inline-block;
            }
        }
        
        .sponsor-info-title {
            color: #fff;
            font-size: 4rem;
            text-transform: uppercase;
            font-family: vinyl;
            padding-bottom: 30px;
            @include media-breakpoint-down(sm) {
                font-size: 3em;
            }
        }
        
        .social-media-reach {
            h4 {
                span {
                    font-size: .7em;
                }
            }
        
            li.stat-item {
                font-size: 1em;
                color: #e6e6e6;
                span {
                    color: #ede527;
                    font-size: 2em;
                    font-family: 'vinyl';
                    vertical-align: middle;
                    width: 150px;
                    display: inline-block;
                }
            }
        }
        
        .demographic-row {
            margin-bottom: 30px;
            .footer-sponsor-form {
                margin-top: 50px;
                .become-sponsor-title {
                    color: #fff;
                    font-size: 4rem;
                    text-transform: uppercase;
                    font-family: vinyl;
                    padding-bottom: 30px;
                    line-height: .9em;
                    span {
                        color: #ed1a5a;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 3rem;
                    }
                }

                .sponsor-form {
                    input {
                        font-family: 'vinyl';
                        padding: 1em .7em !important;
                        &::placeholder {
                            font-family: 'vinyl';
                            text-transform: uppercase;
                            font-size: 12px !important;
                            font-weight: 100;
                            padding: 1em .7em !important;
                        }
                    }
                    .gform_wrapper {
                        ul.gform_fields {
                            li.gfield {
                                margin-top: 0px;
                            }
                        }
                        li#field_5_1.hidden_label {
                            input {
                                &:first-child {
                                    margin-top: 0px;
                                }
                            }
                        }
                        .gform_footer {
                            margin-top: 0px;
                            .gform_button {
                                background-color: #faed21;
                                color: #000;
                                border: none;
                                text-transform: uppercase;
                                padding: .9em 3em !important;
                                display: block;
                                margin: 0px auto;
                            }
                        }
                    }
                }
            }
        }
        .previous-sponsor-title {
            color: #fff;
            font-size: 3.5rem;
            text-transform: uppercase;
            font-family: vinyl;
            line-height: 1em;
            margin-top: 100px;
            span {
                font-size: .9em;
                @include media-breakpoint-down(sm) {
                    font-size: .7em;
                }
            }
            @include media-breakpoint-down(sm) {
                font-size: 2.5rem;
            }
        }
    }
}

.previous-sponsor-footer{
	background: #fff;
    .past-sponsors {
        padding: 3em 0px;
    }
}
